<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
  <link rel="stylesheet" href="../../css/main.css"/>
  <link rel="stylesheet" href="../../css/nya-bs-select.css"/>
  <script src="../../js/angular.js"></script>
  <script src="../../js/nya-bs-select.js"></script>
  <script src="script.js"></script>
</head>
<body ng-app="FormControlFeatureExample2App">
  <div ng-controller="MainController">
    <form class="form-horizontal" name="myForm">
  <div class="form-group" ng-class="{'has-error': myForm.select1.$invalid}">
    <label class="control-label col-sm-3">required example</label>
    <div class="col-sm-9">
      <ol name="select1" class="nya-bs-select" ng-model="model" required multiple>
        <li nya-bs-option="option in options">
          <a>
            {{option}}
            <span class="glyphicon glyphicon-ok check-mark"></span>
          </a>
        </li>
      </ol>
      <p class="text-danger" ng-show="myForm.select1.$invalid">Please select at least one option</p>
    </div>
  </div>
  <div class="form-group" ng-class="{'has-error': myForm.select2.$invalid}">
    <label class="control-label col-sm-3">ng-required example</label>
    <div class="col-sm-9">
      <ol name="select2" class="nya-bs-select" ng-model="model2" ng-required="select2Required">
        <li nya-bs-option="option in options">
          <a>
            {{option}}
            <span class="glyphicon glyphicon-ok check-mark"></span>
          </a>
        </li>
      </ol>
      <button class="btn btn-default" ng-click="select2Required=!select2Required" type="button">select2 required: {{select2Required}}</button>
    </div>
  </div>
</form>
<p>
  myForm.$pristine: {{!!myForm.$pristine}}
</p>
<p>
  myForm.$dirty: {{!!myForm.$dirty}}
<p>
  myForm.$valid: {{!!myForm.$valid}}
</p>
<p>
  myForm.$invalid: {{!!myForm.$invalid}}
</p>
  </div>
</body>
</html>
