<!DOCTYPE html>
<html>
<head>
  <meta charset="utf8">
  <title>nya-bootstrap-select demo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link rel="stylesheet" href="../bower_components/bootstrap-css/css/bootstrap.css" type="text/css">
  <link rel="stylesheet" href="../dist/css/nya-bs-select.css"/>
  <!--<link rel="stylesheet" href="../bower_components/bootstrap-select/bootstrap-select.css"/>-->
  <link rel="stylesheet" href="main.css"/>
</head>
<body ng-app="demoApp">
<div class="masthead">
  <div class="container">
    <h1>nya-bootstrap-select</h1>

    <p>An angular wrapper for Bootstrap-select with dynamic loading options support</p>
    <a class="btn btn-default btn-lg" href="#">View on Github</a>
  </div>
</div>
<div class="container" ng-controller="MainCtrl">
  <section>
    <h1 id="overview" class="page-header">Overview</h1>

    <p>This is an angular directive wrapping for popular custom select <strong><a
        href="http://silviomoreto.github.io/bootstrap-select/">Bootstrap-select</a></strong>.
      Unlike other <strong>directives</strong>. This directive support <code>ng-repeat</code> in <code>option</code>.
    </p>

    <p>All of the <strong><a href="http://silviomoreto.github.io/bootstrap-select/">Bootstrap-select</a></strong>'s
      function is supported.
      The select result is bound to a model, so you don't need to use
      <strong><a href="http://silviomoreto.github.io/bootstrap-select/">Bootstrap-select</a></strong>'s api to get
      value.
      just write your select in the angular way
    </p>

  </section>
  <section>
    <h1 id="example2" class="page-header">Example</h1>

    <h3>Static options</h3>

    <p>The select has three hard coded options.</p>

    <form class="form-inline">
      <p class="alert-info"> You have select {{staticModel}}</p>
      <p class="alert-info"> options4 is {{options4}}</p>
      <button ng-click="changeGroups('options4')">Change Option</button>
      <button ng-click="changeModel('staticModel', 'options4')">Change model</button>
      <ol id="track_by_examples" class="nya-bs-select" ng-model="staticModel" data-container="body" multiple data-live-search="true">
        <li nya-bs-option="option in options4 group by option.group track by option.name">
          <span class="dropdown-header">{{$group}}</span>
          <a>
            {{option.name}}
            <span class="glyphicon glyphicon-ok check-mark"></span>
          </a>
        </li>
      </ol>
    </form>
  </section>
  <section>
    <h1 id="button-class" class="page-header">Button Class</h1>

    <h3>Color Class</h3>

    <p>set <code>btn-primary</code>, <code>btn-success</code>, <code>btn-info</code>, <code>btn-warning</code>, <code>btn-danger</code> to nya-bs-select</p>

    <form class="form-inline">
      <ol class="nya-bs-select btn-primary" ng-model="staticModel">
        <li class="nya-bs-option" value="a"><a>
          Alpha
          <span class="glyphicon glyphicon-ok check-mark"></span>
        </a></li>
        <li class="nya-bs-option" value="b"><a>Bravo<span class="glyphicon glyphicon-ok check-mark"></span></a></li>
        <li class="nya-bs-option" value="c"><a>Charlie<span class="glyphicon glyphicon-ok check-mark"></span></a></li>
      </ol>
      <ol class="nya-bs-select btn-success" ng-model="staticModel">
        <li class="nya-bs-option" value="a"><a>Alpha<span class="glyphicon glyphicon-ok check-mark"></span></a></li>
        <li class="nya-bs-option" value="b"><a>Bravo<span class="glyphicon glyphicon-ok check-mark"></span></a></li>
        <li class="nya-bs-option" value="c"><a>Charlie<span class="glyphicon glyphicon-ok check-mark"></span></a></li>
      </ol>
      <ol class="nya-bs-select btn-info" ng-model="staticModel">
        <li class="nya-bs-option" value="a"><a>Alpha<span class="glyphicon glyphicon-ok check-mark"></span></a></li>
        <li class="nya-bs-option" value="b"><a>Bravo<span class="glyphicon glyphicon-ok check-mark"></span></a></li>
        <li class="nya-bs-option" value="c"><a>Charlie<span class="glyphicon glyphicon-ok check-mark"></span></a></li>
      </ol>
      <ol class="nya-bs-select btn-warning" ng-model="staticModel">
        <li class="nya-bs-option" value="a"><a>Alpha<span class="glyphicon glyphicon-ok check-mark"></span></a></li>
        <li class="nya-bs-option" value="b"><a>Bravo<span class="glyphicon glyphicon-ok check-mark"></span></a></li>
        <li class="nya-bs-option" value="c"><a>Charlie<span class="glyphicon glyphicon-ok check-mark"></span></a></li>
      </ol>
      <ol class="nya-bs-select btn-danger" ng-model="staticModel">
        <li class="nya-bs-option" value="a"><a>Alpha<span class="glyphicon glyphicon-ok check-mark"></span></a></li>
        <li class="nya-bs-option" value="b"><a>Bravo<span class="glyphicon glyphicon-ok check-mark"></span></a></li>
        <li class="nya-bs-option" value="c"><a>Charlie<span class="glyphicon glyphicon-ok check-mark"></span></a></li>
      </ol>
    </form>
  </section>
</div>
<footer class="footer">
  <div class="container">
    <p>Designed and built by <a href="http://nya.io">Nyasoft</a></p>

    <p>Code licensed under MIT License</p>
  </div>
</footer>


<!--<script src="../bower_components/jquery/dist/jquery.js"></script>-->
<script src="../bower_components/angular/angular.js"></script>
<!--<script src="../bower_components/bootstrap-css/js/bootstrap.js"></script>-->
<!--<script src="../bower_components/bootstrap-select/bootstrap-select.js"></script>-->

<script src="../src/nya-bs-public.js"></script>
<script src="../src/nya-bs-select-ctrl.js"></script>
<script src="../src/nya-bs-select.js"></script>
<script src="../src/nya-bs-option.js"></script>
<script src="app.js"></script>
</body>
</html>