<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
  <link rel="stylesheet" href="../../css/main.css"/>
  <link rel="stylesheet" href="../../css/nya-bs-select.css"/>
  <script src="../../js/angular.js"></script>
  <script src="../../js/nya-bs-select.js"></script>
  <script src="script.js"></script>
</head>
<body ng-app="GettingStartedExample1App">
  <div ng-controller="MainController">
    <p class="bg-info">model1 is {{model1}}</p>
<p class="bg-info">model2 is {{model2}}</p>
<form>
  <!-- options from collection -->
  <ol id="dynamic-options" class="nya-bs-select" ng-model="model1">
    <li nya-bs-option="option in options">
      <a>{{ option }}</a>
    </li>
  </ol>
  <!-- options in static -->
  <ol id="static-options" class="nya-bs-select" ng-model="model2">
    <li class="nya-bs-option" value="alpha">
      <a>Alpha</a>
    </li>
    <li class="nya-bs-option" value="bravo">
      <a>Bravo</a>
    </li>
    <li class="nya-bs-option" value="charlie">
      <a>Charlie</a>
    </li>
  </ol>
</form>
  </div>
</body>
</html>
