<section>
  <p>#Alternative Display</p>
<p>This is a feature borrowed from Bootstrap-select. Add a <code>title</code> attribute to each <code>nya-bs-option</code>, when an option is selected, the <code>title</code> value will be displayed in dropdown-toggle button instead of the content of option.</p>
<p>By the way, <code>title</code> attribute can also be used on <code>nya-bs-select</code> directive. It will replace the default no select text <code>Nothing selected</code>.</p>
<example>
<file name="index.html">
<pre><code class="lang-html"><span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">form</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;form-inline&quot;</span>&gt;</span>
  <span class="hljs-comment">&lt;!-- title on nya-bs-select --&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">ol</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;nya-bs-select&quot;</span> <span class="hljs-attribute">ng-model</span>=<span class="hljs-value">&quot;model&quot;</span> <span class="hljs-attribute">title</span>=<span class="hljs-value">&quot;Choose one of the following&quot;</span> <span class="hljs-attribute">multiple</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">li</span> <span class="hljs-attribute">nya-bs-option</span>=<span class="hljs-value">&quot;option in options&quot;</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">a</span>&gt;</span>
        </span><span class="hljs-expression"><span>{{</span> <span class="hljs-variable">option.name</span> <span>}}</span></span><span class="xml">
        <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;glyphicon glyphicon-ok check-mark&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">ol</span>&gt;</span>
  <span class="hljs-comment">&lt;!-- title on nya-bs-option --&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">ol</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;nya-bs-select&quot;</span> <span class="hljs-attribute">ng-model</span>=<span class="hljs-value">&quot;model2&quot;</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">li</span> <span class="hljs-attribute">nya-bs-option</span>=<span class="hljs-value">&quot;option in options&quot;</span> <span class="hljs-attribute">title</span>=<span class="hljs-value">&quot;</span></span></span><span class="hljs-expression"><span>{{</span><span class="hljs-variable">option.title</span><span>}}</span></span><span class="xml"><span class="hljs-tag"><span class="hljs-value">&quot;</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">a</span>&gt;</span>
        </span><span class="hljs-expression"><span>{{</span> <span class="hljs-variable">option.name</span> <span>}}</span></span><span class="xml">
        <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;glyphicon glyphicon-ok check-mark&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">ol</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">form</span>&gt;</span></span>
</code></pre>

</file>
<file name="script.js">
<pre><code class="lang-javascript"><span class="hljs-variable">$scope</span>.options = [
  {name: <span class="hljs-string">&#39;apple&#39;</span>, title: <span class="hljs-string">&#39;c1: apple&#39;</span>},
  {name: <span class="hljs-string">&#39;orange&#39;</span>, title: <span class="hljs-string">&#39;c2: orange&#39;</span>},
  {name: <span class="hljs-string">&#39;berry&#39;</span>, title: <span class="hljs-string">&#39;c3: berry&#39;</span>}
];
<span class="hljs-variable">$scope</span>.model2 = {name: <span class="hljs-string">&#39;berry&#39;</span>, title: <span class="hljs-string">&#39;c3: berry&#39;</span>};
</code></pre>

</file>
</example>

<iframe class="runnable-example-frame" src="examples/alternative-display-example-1/index.html"></iframe>

</section>
