<section>
  <h1 id="form-control-feature">Form Control Feature</h1>
<p>Because we don&#39;t have an form element to build a form control. Some form features which provided by angular need to be implemented specially.</p>
<p>Currently form control valid and disabled are supported.</p>
<h3 id="disable-a-select">Disable a select</h3>
<p>To disable a select. Use <code>disabled=&quot;true&quot;</code> as an attribute on <code>nya-bs-select</code> element. the value of this attribute is a data-binding to current scope. So you can use model to control
an select being disabled or enabled. Note that <code>ng-disabled</code> are not supported.</p>
<example>
<file name="index.html">
<pre><code class="lang-html"><span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">form</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">button</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;btn btn-default&quot;</span> <span class="hljs-attribute">ng-click</span>=<span class="hljs-value">&quot;disable=!disable&quot;</span>&gt;</span>
  </span><span class="hljs-expression"><span>{{</span> <span class="hljs-variable">disable</span> ? <span class="hljs-string">&quot;Enable select&quot;</span> : <span class="hljs-string">&quot;Disable select&quot;</span> <span>}}</span></span><span class="xml">
<span class="hljs-tag">&lt;/<span class="hljs-title">button</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">ol</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;nya-bs-select&quot;</span> <span class="hljs-attribute">ng-model</span>=<span class="hljs-value">&quot;model&quot;</span> <span class="hljs-attribute">disabled</span>=<span class="hljs-value">&quot;disable&quot;</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">li</span> <span class="hljs-attribute">nya-bs-option</span>=<span class="hljs-value">&quot;option in options&quot;</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">a</span>&gt;</span>
      </span><span class="hljs-expression"><span>{{</span><span class="hljs-variable">option</span><span>}}</span></span><span class="xml">
    <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">ol</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">form</span>&gt;</span></span>
</code></pre>

</file>
<file name="script.js">
<pre><code class="lang-javascript"><span class="hljs-variable">$scope</span>.disable = <span class="hljs-literal">false</span>;
<span class="hljs-variable">$scope</span>.options = [
  <span class="hljs-string">&#39;Alpha&#39;</span>,
  <span class="hljs-string">&#39;Bravo&#39;</span>,
  <span class="hljs-string">&#39;Charlie&#39;</span>,
  <span class="hljs-string">&#39;Golf&#39;</span>,
  <span class="hljs-string">&#39;Hotel&#39;</span>
];
</code></pre>

</file>
</example>

<iframe class="runnable-example-frame" src="/examples/form-control-feature-example-1/index.html"></iframe>

<h3 id="ng-required">ng-required</h3>
<p><code>ng-required</code> and <code>required</code> directive are supported. when you add one of these directives. it will check your ng-model and add <code>ng-valid-required</code> or <code>ng-invalid-required</code> class
on your <code>nya-bs-select</code> element. You need to define the css by yourself.</p>
<p>When selection is multiple, an empty array or undefined model is invalid. When selection is single, an undefined model is invalid.</p>
<blockquote>
<p>Note that, the <code>ng-valid-required</code> and <code>ng-invalid-required</code> class are add to the container element. but the dropdown toggle button is its child element. so you need to define a style using a descendant selector.</p>
</blockquote>
<example>
<file name="index.html">
<pre><code class="lang-html"><span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">style</span>&gt;</span><span class="css">
<span class="hljs-tag">form</span> <span class="hljs-rules">{
  <span class="hljs-rule"><span class="hljs-attribute">margin</span>:<span class="hljs-value"> <span class="hljs-number">20px</span></span></span>;
  <span class="hljs-rule"><span class="hljs-attribute">border</span>:<span class="hljs-value"> <span class="hljs-number">1px</span> solid</span></span>;
<span class="hljs-rule">}</span></span>
<span class="hljs-tag">form</span><span class="hljs-class">.ng-invalid-required</span> <span class="hljs-rules">{
  <span class="hljs-rule"><span class="hljs-attribute">border-color</span>:<span class="hljs-value"> red</span></span>;
<span class="hljs-rule">}</span></span>
<span class="hljs-tag">form</span><span class="hljs-class">.ng-valid-required</span> <span class="hljs-rules">{
  <span class="hljs-rule"><span class="hljs-attribute">border-color</span>:<span class="hljs-value"> green</span></span>;
<span class="hljs-rule">}</span></span>
<span class="hljs-tag">form</span><span class="hljs-class">.ng-valid-required</span> <span class="hljs-class">.info</span> <span class="hljs-rules">{
  <span class="hljs-rule"><span class="hljs-attribute">visibility</span>:<span class="hljs-value"> hidden</span></span>;
<span class="hljs-rule">}</span></span>
<span class="hljs-tag">form</span><span class="hljs-class">.ng-invalid-required</span> <span class="hljs-class">.info</span> <span class="hljs-rules">{
  <span class="hljs-rule"><span class="hljs-attribute">visibility</span>:<span class="hljs-value"> visible</span></span>;
<span class="hljs-rule">}</span></span>
<span class="hljs-class">.ng-invalid-required</span> <span class="hljs-class">.dropdown-toggle</span> <span class="hljs-rules">{
  <span class="hljs-rule"><span class="hljs-attribute">border-color</span>:<span class="hljs-value"> red</span></span>;
<span class="hljs-rule">}</span></span>
<span class="hljs-class">.ng-valid-required</span> <span class="hljs-class">.dropdown-toggle</span> <span class="hljs-rules">{
  <span class="hljs-rule"><span class="hljs-attribute">border-color</span>:<span class="hljs-value"> green</span></span>;
<span class="hljs-rule">}</span></span>
</span><span class="hljs-tag">&lt;/<span class="hljs-title">style</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">form</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">p</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;alert-danger info&quot;</span>&gt;</span>please select at least one option!<span class="hljs-tag">&lt;/<span class="hljs-title">p</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">ol</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;nya-bs-select&quot;</span> <span class="hljs-attribute">ng-model</span>=<span class="hljs-value">&quot;model&quot;</span> <span class="hljs-attribute">required</span> <span class="hljs-attribute">multiple</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">li</span> <span class="hljs-attribute">nya-bs-option</span>=<span class="hljs-value">&quot;option in options&quot;</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">a</span>&gt;</span>
        </span><span class="hljs-expression"><span>{{</span><span class="hljs-variable">option</span><span>}}</span></span><span class="xml">
        <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;glyphicon glyphicon-ok check-mark&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">ol</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">form</span>&gt;</span></span>
</code></pre>

</file>
<file name="script.js">
<pre><code class="lang-javascript">  <span class="hljs-variable">$scope</span>.options = [
    <span class="hljs-string">&#39;Alpha&#39;</span>,
    <span class="hljs-string">&#39;Bravo&#39;</span>,
    <span class="hljs-string">&#39;Charlie&#39;</span>,
    <span class="hljs-string">&#39;Delta&#39;</span>,
    <span class="hljs-string">&#39;Echo&#39;</span>,
    <span class="hljs-string">&#39;Fox&#39;</span>,
    <span class="hljs-string">&#39;Golf&#39;</span>
  ];
</code></pre>

</file>
</example>

<iframe class="runnable-example-frame" src="/examples/form-control-feature-example-2/index.html"></iframe>

</section>
