<section>
  <p>#Groups And More</p>
<p>###Group features
The native <code>&lt;select&gt;</code> element support <code>optgroup</code> tag which can divide options to different groups. So is Bootstrap-select. Although nya-bootstrap-select doesn&#39;t use <code>select</code> tag anymore, nevertheless, nya-bootstrap-select also supports group features.</p>
<p>The key of this feature is sort the list element by its group property. then using some css to stylize the group header which already implemented in Bootstrap, the <code>dropdown-header</code> class.</p>
<p>When using group features, like <code>ng-options</code>, you need to use <code>group by</code> expression after the <code>collection</code> expression in the expression of <code>nya-bs-option</code> directive.</p>
<p>For example:</p>
<p>An array of object, group by the <code>class</code> property</p>
<pre><code><span class="hljs-label">nya</span>-<span class="hljs-keyword">bs-option="student </span>in students group <span class="hljs-keyword">by </span>student.class<span class="hljs-string">"</span>
</code></pre><p>An object collection, group by the <code>group</code> property of each value</p>
<pre><code><span class="hljs-label">nya</span>-<span class="hljs-keyword">bs-option="(key, </span>value) in options group <span class="hljs-keyword">by </span>value.group<span class="hljs-string">"</span>
</code></pre><p>With <code>group by</code> expression, <code>nya-bs-option</code> directive will sort the options by their group and expose an <code>$group</code> property in each scope of its child. To show the group header, you need to add an header for each group.</p>
<example>
<file name="index.html">
<pre><code class="lang-html"><span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">form</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;form-group&quot;</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">p</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;form-control-static&quot;</span>&gt;</span>select: </span><span class="hljs-expression"><span>{{</span> <span class="hljs-variable">model</span> <span>}}</span></span><span class="xml"><span class="hljs-tag">&lt;/<span class="hljs-title">p</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">label</span> <span class="hljs-attribute">for</span>=<span class="hljs-value">&quot;array-collection&quot;</span>&gt;</span>Array Collection<span class="hljs-tag">&lt;/<span class="hljs-title">label</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">ol</span> <span class="hljs-attribute">id</span>=<span class="hljs-value">&quot;array-collection&quot;</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;nya-bs-select&quot;</span> <span class="hljs-attribute">ng-model</span>=<span class="hljs-value">&quot;model&quot;</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">li</span> <span class="hljs-attribute">nya-bs-option</span>=<span class="hljs-value">&quot;option in arrayCollection group by option.class&quot;</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;dropdown-header&quot;</span>&gt;</span></span><span class="hljs-expression"><span>{{</span>$<span class="hljs-variable">group</span><span>}}</span></span><span class="xml"><span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">a</span>&gt;</span>
          </span><span class="hljs-expression"><span>{{</span><span class="hljs-variable">option.name</span><span>}}</span></span><span class="xml">
        <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">ol</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;form-group&quot;</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">p</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;form-control-static&quot;</span>&gt;</span>select: </span><span class="hljs-expression"><span>{{</span> <span class="hljs-variable">model</span>2 <span>}}</span></span><span class="xml"><span class="hljs-tag">&lt;/<span class="hljs-title">p</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">label</span> <span class="hljs-attribute">for</span>=<span class="hljs-value">&quot;object-collection&quot;</span>&gt;</span>Object Collection, select: </span><span class="hljs-expression"><span>{{</span> <span class="hljs-variable">model</span>2 <span>}}</span></span><span class="xml"><span class="hljs-tag">&lt;/<span class="hljs-title">label</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">ol</span> <span class="hljs-attribute">id</span>=<span class="hljs-value">&quot;object-collection&quot;</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;nya-bs-select&quot;</span> <span class="hljs-attribute">ng-model</span>=<span class="hljs-value">&quot;model2&quot;</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">li</span> <span class="hljs-attribute">nya-bs-option</span>=<span class="hljs-value">&quot;(key, value) in objCollection group by value.group&quot;</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;dropdown-header&quot;</span>&gt;</span></span><span class="hljs-expression"><span>{{</span>$<span class="hljs-variable">group</span><span>}}</span></span><span class="xml"><span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">a</span>&gt;</span>
          </span><span class="hljs-expression"><span>{{</span><span class="hljs-variable">key</span><span>}}</span></span><span class="xml">
        <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">ol</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">form</span>&gt;</span></span>
</code></pre>

</file>
<file name="script.js">
<pre><code class="lang-javascript"><span class="hljs-variable">$scope</span>.arrayCollection = [
  {name: <span class="hljs-string">&#39;Alice&#39;</span>, class: <span class="hljs-string">&#39;Class A&#39;</span>},
  {name: <span class="hljs-string">&#39;Bob&#39;</span>, class: <span class="hljs-string">&#39;Class B&#39;</span>},
  {name: <span class="hljs-string">&#39;Carl&#39;</span>, class: <span class="hljs-string">&#39;Class A&#39;</span>},
  {name: <span class="hljs-string">&#39;Daniel&#39;</span>, class: <span class="hljs-string">&#39;Class B&#39;</span>},
  {name: <span class="hljs-string">&#39;Emi&#39;</span>, class: <span class="hljs-string">&#39;Class A&#39;</span>},
  {name: <span class="hljs-string">&#39;Flank&#39;</span>, class: <span class="hljs-string">&#39;Class B&#39;</span>},
  {name: <span class="hljs-string">&#39;George&#39;</span>, class: <span class="hljs-string">&#39;Class C&#39;</span>},
  {name: <span class="hljs-string">&#39;Harry&#39;</span>, class: <span class="hljs-string">&#39;Class C&#39;</span>}
];
<span class="hljs-variable">$scope</span>.objCollection = {
  wheat: {name: <span class="hljs-string">&#39;wheat&#39;</span>, group: <span class="hljs-string">&#39;grain&#39;</span>},
  barley: {name: <span class="hljs-string">&#39;barley&#39;</span>, group: <span class="hljs-string">&#39;grain&#39;</span>},
  pork: {name: <span class="hljs-string">&#39;pork&#39;</span>, group: <span class="hljs-string">&#39;protein&#39;</span>},
  chicken: {name: <span class="hljs-string">&#39;chicken&#39;</span>, group: <span class="hljs-string">&#39;protein&#39;</span>},
  orange: {name: <span class="hljs-string">&#39;orange&#39;</span>, group: <span class="hljs-string">&#39;fruit&#39;</span>},
  apple: {name: <span class="hljs-string">&#39;apple&#39;</span>, group: <span class="hljs-string">&#39;fruit&#39;</span>}
};
</code></pre>

</file>
</example>

<iframe class="runnable-example-frame" src="examples/groups-and-more-example-1/index.html"></iframe>

<p>###data-value Expression</p>
<p>Sometimes, you may want to use one property instead the object in collection as the result(model) of your selection. The <strong>data-value expression</strong> give an solution for this.</p>
<p><strong>data-value expression</strong> is an attribute <code>data-value</code> add to <code>nya-bs-option</code> directive element. But unlike the <code>data-value</code> attribute used in static options. This <code>data-value</code>
attribute is an expression which will evaluated in the child scope of <code>nya-bs-option</code>.</p>
<example>
<file name="index.html">
<pre><code class="lang-html"><span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">form</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;form-group&quot;</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">p</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;form-control-static&quot;</span>&gt;</span>select: </span><span class="hljs-expression"><span>{{</span> <span class="hljs-variable">model</span> <span>}}</span></span><span class="xml"><span class="hljs-tag">&lt;/<span class="hljs-title">p</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">label</span> <span class="hljs-attribute">for</span>=<span class="hljs-value">&quot;array-collection&quot;</span>&gt;</span>Array Collection<span class="hljs-tag">&lt;/<span class="hljs-title">label</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">ol</span> <span class="hljs-attribute">id</span>=<span class="hljs-value">&quot;array-collection&quot;</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;nya-bs-select&quot;</span> <span class="hljs-attribute">ng-model</span>=<span class="hljs-value">&quot;model&quot;</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">li</span> <span class="hljs-attribute">nya-bs-option</span>=<span class="hljs-value">&quot;option in arrayCollection group by option.class&quot;</span> <span class="hljs-attribute">data-value</span>=<span class="hljs-value">&quot;option.name&quot;</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;dropdown-header&quot;</span>&gt;</span></span><span class="hljs-expression"><span>{{</span>$<span class="hljs-variable">group</span><span>}}</span></span><span class="xml"><span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">a</span>&gt;</span>
          </span><span class="hljs-expression"><span>{{</span><span class="hljs-variable">option.name</span><span>}}</span></span><span class="xml">
        <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">ol</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">form</span>&gt;</span></span>
</code></pre>

</file>
<file name="script.js">
<pre><code class="lang-javascript">$scope.arrayCollection = [
  {name: <span class="hljs-string">&#39;Alice&#39;</span>, <span class="hljs-class"><span class="hljs-keyword">class</span>:</span> <span class="hljs-string">&#39;Class A&#39;</span>},
  {name: <span class="hljs-string">&#39;Bob&#39;</span>, <span class="hljs-class"><span class="hljs-keyword">class</span>:</span> <span class="hljs-string">&#39;Class B&#39;</span>},
  {name: <span class="hljs-string">&#39;Carl&#39;</span>, <span class="hljs-class"><span class="hljs-keyword">class</span>:</span> <span class="hljs-string">&#39;Class A&#39;</span>},
  {name: <span class="hljs-string">&#39;Daniel&#39;</span>, <span class="hljs-class"><span class="hljs-keyword">class</span>:</span> <span class="hljs-string">&#39;Class B&#39;</span>},
  {name: <span class="hljs-string">&#39;Emi&#39;</span>, <span class="hljs-class"><span class="hljs-keyword">class</span>:</span> <span class="hljs-string">&#39;Class A&#39;</span>},
  {name: <span class="hljs-string">&#39;Flank&#39;</span>, <span class="hljs-class"><span class="hljs-keyword">class</span>:</span> <span class="hljs-string">&#39;Class B&#39;</span>},
  {name: <span class="hljs-string">&#39;George&#39;</span>, <span class="hljs-class"><span class="hljs-keyword">class</span>:</span> <span class="hljs-string">&#39;Class C&#39;</span>},
  {name: <span class="hljs-string">&#39;Harry&#39;</span>, <span class="hljs-class"><span class="hljs-keyword">class</span>:</span> <span class="hljs-string">&#39;Class C&#39;</span>}
];
</code></pre>

</file>
</example>

<iframe class="runnable-example-frame" src="examples/groups-and-more-example-2/index.html"></iframe>

<p>###Track By Expression</p>
<p>track by expression is very similar with <code>ng-repeat</code> which allow you to identify collection element with some unique property. It is useful when the element may be empty or duplicated. But a select component shouldn&#39;t have an duplicated option.
 So In our case, this is not very useful, however, you can use this to improve performance when your array elements are very large.</p>
<example>
<file name="index.html">
<pre><code class="lang-html"><span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">form</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;form-group&quot;</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">p</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;form-control-static&quot;</span>&gt;</span>select: </span><span class="hljs-expression"><span>{{</span> <span class="hljs-variable">model</span> <span>}}</span></span><span class="xml"><span class="hljs-tag">&lt;/<span class="hljs-title">p</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">label</span> <span class="hljs-attribute">for</span>=<span class="hljs-value">&quot;array-collection&quot;</span>&gt;</span>Array Collection<span class="hljs-tag">&lt;/<span class="hljs-title">label</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">ol</span> <span class="hljs-attribute">id</span>=<span class="hljs-value">&quot;array-collection&quot;</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;nya-bs-select&quot;</span> <span class="hljs-attribute">ng-model</span>=<span class="hljs-value">&quot;model&quot;</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">li</span> <span class="hljs-attribute">nya-bs-option</span>=<span class="hljs-value">&quot;option in arrayCollection group by option.class track by option.name&quot;</span> <span class="hljs-attribute">data-value</span>=<span class="hljs-value">&quot;option.name&quot;</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;dropdown-header&quot;</span>&gt;</span></span><span class="hljs-expression"><span>{{</span>$<span class="hljs-variable">group</span><span>}}</span></span><span class="xml"><span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">a</span>&gt;</span>
          </span><span class="hljs-expression"><span>{{</span><span class="hljs-variable">option.name</span><span>}}</span></span><span class="xml">
        <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">ol</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">form</span>&gt;</span></span>
</code></pre>

</file>
<file name="script.js">
<pre><code class="lang-javascript">$scope.arrayCollection = [
  {name: <span class="hljs-string">&#39;Alice&#39;</span>, <span class="hljs-class"><span class="hljs-keyword">class</span>:</span> <span class="hljs-string">&#39;Class A&#39;</span>},
  {name: <span class="hljs-string">&#39;Bob&#39;</span>, <span class="hljs-class"><span class="hljs-keyword">class</span>:</span> <span class="hljs-string">&#39;Class B&#39;</span>},
  {name: <span class="hljs-string">&#39;Carl&#39;</span>, <span class="hljs-class"><span class="hljs-keyword">class</span>:</span> <span class="hljs-string">&#39;Class A&#39;</span>},
  {name: <span class="hljs-string">&#39;Daniel&#39;</span>, <span class="hljs-class"><span class="hljs-keyword">class</span>:</span> <span class="hljs-string">&#39;Class B&#39;</span>},
  {name: <span class="hljs-string">&#39;Emi&#39;</span>, <span class="hljs-class"><span class="hljs-keyword">class</span>:</span> <span class="hljs-string">&#39;Class A&#39;</span>},
  {name: <span class="hljs-string">&#39;Flank&#39;</span>, <span class="hljs-class"><span class="hljs-keyword">class</span>:</span> <span class="hljs-string">&#39;Class B&#39;</span>},
  {name: <span class="hljs-string">&#39;George&#39;</span>, <span class="hljs-class"><span class="hljs-keyword">class</span>:</span> <span class="hljs-string">&#39;Class C&#39;</span>},
  {name: <span class="hljs-string">&#39;Harry&#39;</span>, <span class="hljs-class"><span class="hljs-keyword">class</span>:</span> <span class="hljs-string">&#39;Class C&#39;</span>}
];
</code></pre>

</file>
</example>

<iframe class="runnable-example-frame" src="examples/groups-and-more-example-3/index.html"></iframe>

</section>
