<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
  <link rel="stylesheet" href="../../css/main.css"/>
  <link rel="stylesheet" href="../../css/nya-bs-select.css"/>
  <script src="../../js/angular.js"></script>
  <script src="../../js/nya-bs-select.js"></script>
  <script src="script.js"></script>
</head>
<body ng-app="BasicUsageExample1App">
  <div ng-controller="MainController">
    <p class="alert-info">Single Selection, model is <span>{{model}}</span></p>
<ol id="singleSelection" class="nya-bs-select" ng-model="model">
  <li class="nya-bs-option" data-value="a">
    <a>Alpha</a>
  </li>
  <li class="nya-bs-option" data-value="b">
    <a>Bravo</a>
  </li>
  <li class="nya-bs-option" data-value="c">
    <a>Charlie</a>
  </li>
</ol>
<p class="alert-info">Multiple Selection, model2 is <span>{{model2}}</span></p>
<ol id="multipleSelection" class="nya-bs-select" ng-model="model2" multiple>
  <li class="nya-bs-option" data-value="a">
    <a>Alpha</a>
  </li>
  <li class="nya-bs-option" data-value="b">
    <a>Bravo</a>
  </li>
  <li class="nya-bs-option" data-value="c">
    <a>Charlie</a>
  </li>
</ol>
  </div>
</body>
</html>
